<%- include('./parts/header.ejs') -%>
  <div style="position: relative;" >
    <h1 style="position: relative; padding: 5% 0 0 0; text-align: center; width: 100%;">
      <a href="/research">404 Ricerca non trovata</a>
    </h1>
  </div>
</body>
</html>
