<%- include('../parts/header.ejs') -%>
<form action="/research/new" method="post">
  
  <label>Titolo:</label>
  <input name="name"></br>

  <label>pubmed id:</label>
  <input name="pmid"></br>
  
  <label>doi id:</label>
  <input name="doi"></br>

  <label>pdf_path (temp)</label>
  <input name="pdf_path"></br>

  <input name="single" type="checkbox" id="checkbox">
  <label>review o meta analisi:</label></br>

  <label>numero studi o ricerche:</label>
  <input name="number"></br>

  <label>analisi studio</label></br>
  <textarea name="summary"></textarea></br>
  
  <input type="submit">

</form>
