<%- include('./parts/header.ejs') -%>
<form id="newForm" enctype="multipart/form-data" >
  
  <label>Titolo:</label>
  <input name="name" class=""></br>

  <label>pubmed id:</label>
  <input name="pmid" class=""></br>
  
  <label>doi id:</label>
  <input name="doi" class=""></br>

  <label>pdf ricerca:</label>
  <input name="pdf" class="" type="file" accept=".pdf"></input><br>

</form>
<button onclick="queryForm()">Invia</button>
</body>
</html>
