<%- include('../parts/header.ejs') -%>
<form>
  
  <label>Titolo:</label>
  <input></br>

  <label>pubmed id:</label>
  <input></br>
  
  <label>doi id:</label>
  <input></br>

  <input type="checkbox" id="checkbox">
  <label>review o meta analisi:</label></br>

  <label>numero studi o ricerche:</label>
  <input></br>

  <label>analisi studio</label></br>
  <textarea></textarea></br>
  
  <input type="button" value="invio">

</form>
