@import './default.css';


input.error {
  border: 10px 10px;
  border-color: var(--error);
}
div.title {
  background-color: var(--bg);
  position: relative;
  padding: 20px;
}
div.list {
  margin: 15px;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: var(--bg);
  background-color: var(--c2);
}
div.elem {
  margin: 5px;
  border-radius: 10px;
  background-color: var(--bg);
  padding: 5px 10px;
}
div.main {
  padding: 10px 25px;
}
h1.title, h2.title {
  width: 100%;
  text-align: center;
  padding: 10 0 20 0;
}
a.title { color: var(--c1) }
a.title:hover { color: var(--c3) }
input[type=text] {

}
