:root{
  --error: #BF005F;
  --bg: #10002B;
  --fg: #DFCFFF;
  --c1: #7F0FAF;
  --c2: #BF3FDF;
  --c3: #DF7FFF;
  --c4: #BF9FFF;
}

html{
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
}
body{
  background-color: var(--fg);
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
}
h1, h2, h3, p, label{
  color: var(--c1);
  margin: 0;
}
a {text-decoration: none;}
a:visited {color: var(--c1)}
a:link {color: var(--c1)}
a:hover {color: var(--c3);}

.button, button {
  padding: 2px 10px;
  border: 2px outset;
  border-radius: 3px;
  background-color: var(--c1);
  border-color: var(--c4);
  color: var(--fg);
}
.input.error {
  border: 5px 5px;
  border-color: var(--error);
}
div.title {
  background-color: var(--bg);
  position: relative;
  padding: 20px;
}
div.list {
  margin: 15px;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: var(--bg);
}
div.elem {
  margin: 5px;
  border-radius: 10px;
  background-color: var(--c4);
  padding: 5px 10px;
}
div.main {
  padding: 10px;
}
h1.title {
  width: 100%;
  text-align: center;
  padding: 10 0 20 0;
}
input[type=text] {

}
