<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js"></script>
</head>
<body>
  <div class="title">
    <h1 class="title"><a href="/research">Research database</a></h1>
  </div>
